.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: red solid 1px;
  outline: none;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aqua;
}

.isDone {
  opacity: 50%;
}

.header {
  display: flex;
}